.sidebar-heading {
  font-weight: unset!important;
}
.content:not(.custom) {
  padding-right: 20%!important;
}
ul.sidebar-links > li > a {
  font-size: 1.1em!important;
}
.page-edit, .page-nav {
  padding-right: 20%!important;
}

.content *:not(pre)>code {
  color: #94381C!important;
  font-family: Consolas, "Source Code Pro", Menlo, Monaco, "微软雅黑", "Courier New", monospace
}

*:not(pre)>code {
  white-space: nowrap
}
