.sidebar-heading {
  font-weight: unset!important;
}
.content:not(.custom) {
  padding-right: 20%!important;
}
ul.sidebar-links > li > a {
  font-size: 1.1em!important;
}
.page-edit, .page-nav {
  padding-right: 20%!important;
}
